<a href="https://colab.research.google.com/github/tuxlimr/Celery_Preprocessing/blob/master/Udemy%7C!_Stock_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
pip install --upgrade ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ta in /usr/local/lib/python3.9/dist-packages (0.10.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from ta) (1.4.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from ta) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->ta) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->ta) (1.15.0)

In [2]:
import yfinance as yf
import pandas as pd

# Get SBI stock data
sbi = yf.Ticker('SBIN.NS')
df = sbi.history(period='max')

df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-01-01 00:00:00+05:30,12.562311,12.755724,12.460849,12.651091,43733533,0.0,0.0
1996-01-02 00:00:00+05:30,12.698647,12.746206,11.921826,12.248408,56167280,0.0,0.0
1996-01-03 00:00:00+05:30,12.318166,12.479871,11.858414,11.921828,68296318,0.0,0.0
1996-01-04 00:00:00+05:30,11.763291,11.985239,11.576219,11.880607,86073880,0.0,0.0
1996-01-05 00:00:00+05:30,11.921827,11.953533,11.734755,11.814023,76613039,0.0,0.0

In [6]:
def feature_engineering(df):
  df_copy = df.copy()

  # create the returns

  df_copy['returns'] = df_copy['Close'].pct_change(1)

  # create the SMAs

  df_copy["SMA 15"] = df_copy[["Close"]].rolling(15).mean().shift(1)
  df_copy["SMA 60"] = df_copy[["Close"]].rolling(60).mean().shift(1)

  #create the volatilites

  df_copy["MSD 15"] = df_copy[["returns"]].rolling(15).std().shift(1)
  df_copy["MSD 30"] = df_copy[["returns"]].rolling(30).std().shift(1)

  # create the RSIs
  RSI = ta.momentum.RSIIndicator(df_copy["close"], window=14, fillna = False)
  df_copy["rsi"] = RSI.rsi()

  return df_copy

In [7]:
feature_engineering(df)

NameError: ignored